<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/gameplay.css">
  <script src = "/socket.io/socket.io.js"></script>
  <script>
      var socket = io('http://localhost:3000');
  </script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-10">
              <div class="row">
              <div class="col-2">
                <button class="btn btc3">Start Game</button>
                <button type="button" data-toggle="modal" data-target="#selectModal" style="display: none" id="showSelectButton" class="btn btn-lg btn-primary game-btn">Show Selections</button>
              </div>
              <div class="col-10 text-center">
                <h1>Love Letter</h1>
              </div>
			  <div class="col-12 spaceFormatter1">
              
            </div>
            </div>
            <div class="col-12 text-center">
              <div class="row" >
                <div class="col-4">
                  <img src="images_folder/scholar.jpg" class="img-fluid imgcus2">
				  <div>
				  <h6>Player A</h6>
				  <h6>Tokens: </h6>
				  </div>
                </div>
                <div class="col-4">
                <img src="images_folder/farmer.jpg" class="img-fluid imgcus2">
				<div>
				  <h6>Player B</h6>
				  <h6>Tokens: </h6>
				  </div>
                </div>
                <div class="col-4">
                  <img src="images_folder/trader.jpg" class="img-fluid imgcus2">
				  <div>
				  <h6>Player C</h6>
				  <h6>Tokens: </h6>
				  </div>
                </div>
              </div>
            </div>
            <div class="col-12 spaceFormatter2">
              
            </div>
            <div class="col-12 text-center">
              <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                 <img src="images_folder/warrior.jpg" class="img-fluid imgcus2">
				 <div>
				  <h6>Player D</h6>
				  <h6>Tokens: </h6>
				  </div>
                </div>
                <div class="col-4">
                </div>
              </div>
            </div>
            </div>

<!-- INSERT CODE FOR DECK-->
 <!-- The Modal -->
    <div class="modal modal-custom fade" id="selectModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h3>Select cards/players</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div face="" id="cards">
                        <div face="2" class="card card-mini"></div>
                        <div face="3" class="card card-mini"></div>
                        <div face="4" class="card card-mini"></div>
                        <div face="5" class="card card-mini"></div>
                        <br>
                        <div face="6" class="card card-mini"></div>
                        <div face="7" class="card card-mini"></div>
                        <div face="8" class="card card-mini"></div>
                        <hr>
                    </div>
                    <div>
                        <h5>Players:</h5>
                        <select id="playerSelect" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="selectbtn" type="button" class="btn btn-block btn-success">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deck-container" style="display: none">
        <div id=rules class="card card-front"></div>
        <div id="wildcard" class="card card-back">
            <h1></h1>
        </div>
        <div id="deck" class="card card-back">
        </div>
        <div id="deck-discards"></div>
    </div>
    <div id="card-prev" style="display: none" class="card card-preview"></div>

<!-- CHAT CONTAINER-->
            <div class="col-2"style = "background-color:white;" >
              <div class="row spaceFormatter3">
            <h4>Chat Container</h4>
			</div>
            <div class="col-12 spaceFormatter4">
              
            </div>
            <div class="col-12" >
              <div class="row">
                       <div class=" col-8 p-0">
                <input type="text" class="form-control" id="chat" placeholder="chat-box">
              </div>
              <div class="col-4 p-0" 
              >
              <button type="submit" class="btn btc3">Chat</button>
              </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="./client.js"></script>
  </body>
</html>