body{
	background-color:#EAEB8C;
	font-family: Marko One;
	font-style: normal;
	font-weight: 400;
	line-height: 80px;
	text-align: left;	
	}
	
	.scroll_close{
	position: relative;
	height: 55.625px;
	width: 154.9104309082031px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	}
	
	.scroll_open{
	position: absolute;
	height: 200.625px;
	width: 154.9104309082031px;
	left: 368px;
	top: 18px;
	border-radius: 0px;
	z-index: 1;
	/*display: none;*/
	}
	
	.hideclass{
		display: none;
	}
	
	
	.sidetext1{
		position: absolute;
		left: 419px;
		top: 38px;
		font-size: 10px;
		z-index: 1;
		height: 1px;
	}
	
	.sidetext2{
		position: absolute;
		left: 408px;
		top: 88px;
		font-size: 10px;
		z-index: 1;	
		height: 1px;
	}
	.lady_img{
	height: 430px;
	width: 359px;
	border-radius: 32px;
	margin-right: 100px
	}
	
	.about{
		background: #C4C4C4;
	}
	
	.btc{
	 background: #A98368;
	}
	
	.btc2{
		background: #7D7BE1
	}
	
	.btn {
	 outline:none !important; 
	} 
	
	.imgcus{
		max-height: 188px !important;
		min-height: 188px !important;
	}
	
	a {
		color: black;	
	}
	
	.error-msg{
		text-align: center;
		color: red;
		font-weight: bold;
		margin-bottom: 0%;
	}

	.error-msg-user{
		text-align: center;
			color: red;
			font-weight: bold;
			margin-bottom: 0%;
	}
